html, body {
  width: 1000px;
  height: 100%;
  margin: auto;
}

// .container {
//   width: 40%;
//   display: inline-block;
// }

// .eighty {
//   width: 80%;
//   display: inline-block;
// }

// ul {
//   width: 15%;
//   display: inline-block;
// }

// li {
//   list-style: none;
//   margin: -3em -1em 0 0;
//   font-size: 0.7em;
// }

// li:before {
//   content: "•";
//   font-size: 4em;
//   position: relative;
//   top: 0.3em;
// }

// .ct-label, body {
//   font-family: Serif;
//   color: black;
//   fill: black;
// }

// .ct-line {
//   stroke-width: 0.8pt;
// }

// .ct-line.Javascript, .ct-line.npm {
//   stroke-width: 2pt;
// }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}


circle.Javascript        {fill: #F0253D}
circle.C                 {fill: #266B85}
circle.Cplusplus         {fill: #3CADD7}
circle.Java              {fill: #AFC4DB}
circle.PHP               {fill: #8996A8}
circle.XML_Schema        {fill: #F57542}
circle.Ruby              {fill: #D7503C}
circle.Autoconf          {fill: #BD4230}
circle.Python            {fill: #5EEBB8}
circle.Csharp            {fill: #4ABE95}
circle.Assembler         {fill: #DDB700}
circle.Shell             {fill: #F7F09D}
circle.SQL               {fill: #F3FFB5}
circle.Make              {fill: #9F3A2C}
circle.Perl              {fill: #1B2735}
circle.VisualBasicNET    {fill: #43AE88}


li.Javascript:before        {color: #F0253D}
li.C:before                 {color: #266B85}
li.Cplusplus:before         {color: #3CADD7}
li.Java:before              {color: #AFC4DB}
li.PHP:before               {color: #8996A8}
li.XML_Schema:before        {color: #F57542}
li.Ruby:before              {color: #D7503C}
li.Autoconf:before          {color: #BD4230}
li.Python:before            {color: #5EEBB8}
li.Csharp:before            {color: #4ABE95}
li.Assembler:before         {color: #DDB700}
li.Shell:before             {color: #F7F09D}
li.SQL:before               {color: #F3FFB5}
li.Make:before              {color: #9F3A2C}
li.Perl:before              {color: #1B2735}
li.VisualBasicNET:before    {color: #43AE88}

.slice.Javascript           {fill: #F0253D}
.slice.C                    {fill: #266B85}
.slice.Cplusplus            {fill: #3CADD7}
.slice.Java                 {fill: #AFC4DB}
.slice.PHP                  {fill: #8996A8}
.slice.XML_Schema           {fill: #F57542}
.slice.Ruby                 {fill: #D7503C}
.slice.Autoconf             {fill: #BD4230}
.slice.Python               {fill: #5EEBB8}
.slice.Csharp               {fill: #4ABE95}
.slice.Assembler            {fill: #DDB700}
.slice.Shell                {fill: #F7F09D}
.slice.SQL                  {fill: #F3FFB5}
.slice.Make                 {fill: #9F3A2C}
.slice.Perl                 {fill: #1B2735}
.slice.VisualBasicNET       {fill: #43AE88}

.line                       {stroke-width: 2pt}

.line.Javascript,
.line.JavaScript            {stroke: #F0253D}
.line.C                     {stroke: #266B85}
.line.Cplusplus             {stroke: #3CADD7}
.line.Java                  {stroke: #AFC4DB}
.line.PHP                   {stroke: #8996A8}
.line.XML_Schema            {stroke: #F57542}
.line.Ruby                  {stroke: #D7503C}
.line.Autoconf              {stroke: #BD4230}
.line.Python                {stroke: #5EEBB8}
.line.Csharp                {stroke: #4ABE95}
.line.Assembler             {stroke: #DDB700}
.line.Shell                 {stroke: #F7F09D}
.line.SQL                   {stroke: #F3FFB5}
.line.Make                  {stroke: #9F3A2C}
.line.Perl                  {stroke: #1B2735}
.line.VisualBasicNET        {stroke: #43AE88}

li.Bower:before        {color: #B0253D}
li.Clojars:before      {color: black}
li.CPAN:before         {color: black}
li.CPANsearch:before   {color: black}
li.CRAN:before         {color: black}
li.Crates:before       {color: black}
li.GoDoc:before        {color: black}
li.Hackage:before      {color: black}
li.Hex:before          {color: black}
li.LuaRocks:before     {color: black}
li.Maven:before        {color: #AFC4DB}
li.MELPA:before        {color: black}
li.npm:before          {color: #F0253D}
li.nuget:before        {color: #4ABE95}
li.Packagist:before    {color: #8996A8}
li.Pear:before         {color: #8996B8}
li.PyPI:before         {color: #5EEBB8}
li.Rubygems:before     {color: #D7503C}

.line.Bower_JS                {stroke: #B0253D}
.line.Clojars_Closure         {stroke: black}
.line.CPAN                    {stroke: black}
.line.CPAN_search             {stroke: black}
.line.CRAN_R.io               {stroke: black}
.line.Cratesio_Rust           {stroke: black}
.line.Drupal_php              {stroke: black}
.line.GoDoc_Go                {stroke: black}
.line.Hackage_Haskell         {stroke: black}
.line.Hexpm_ElixirErlang      {stroke: black}
.line.LuaRocks_Lua            {stroke: black}
.line.Maven_Central_Java      {stroke: #AFC4DB}
.line.MELPA_Emacs             {stroke: black}
.line.npm_nodejs              {stroke: #F0253D}
.line.nuget_NET               {stroke: #4ABE95}
.line.Packagist_PHP           {stroke: #8996A8}
.line.Pear_PHP                {stroke: #8996B8}
.line.Perl_6_Ecosystem_perl_6 {stroke: #8996B8}
.line.PyPI                    {stroke: #5EEBB8}
.line.Rubygemsorg             {stroke: #D7503C}

// #0E151B - Black
// #D7503C - Red
// #52EAA9 - Green
// #FFB454 - Yellow
// #266B85 - Blue
// #CB253D - Magenta
// #8996A8 - Cyan
// #FEFEFE - White

// #23323F - Bright Black
// #F05E33 - Bright Red
// #76FFCD - Bright Green
// #FFE792 - Bright yellow
// #3CADD7 - Bright Blue
// #D73C4D - Bright Magenta
// #AFC4DB - Bright Cyan
// #FFFFFF - Bright White

// #F57542 - orange
// #9F3A2C - brown
// #1B2735 - Darker
// #B0B3BA - Grey
// #FFFFFF - Bright White

// #4ABE95 - green
// #43AE88 - green 2
// #5EEBB8 - bright green 2
// #BD4230 - dark red


// #DDB700 - mustard
// #F7F09D - yellow 2
// #F3FFB5 - yellow 3 (greener)

// #0C1217 - black
// #0D1319 - black 2
// #0E151B - black 3
// #23323F - black 5
// #233345 - black 6
// #263445 - black 7

// #3C444D - grey
// #3E4751 - grey 2
// #515C68 - grey 3
// #B0B3BA - bright grey
// #EFEFEF - brigher grey
// #F8F8F8 - white
